<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" href="assets/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="assets/slick/slick-theme.css"/>
</head>
<title>poesy_mebels</title>
</head>
<body>
	<div id="app" :class='{"body_hidden": burger}'>
		<header id='main' class='screen'>
			<div class="burger" @click="cons()">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="mobilNav" :class='{"mobilNav_activ": burger}'>
				<div class="nav_text" ><a href="#main">Главная</a></div>
				<div class="nav_text" ><a href="#screen_two" @click='exitPass()' >О нас</a></div> 
				<div class="nav_text" ><a href="#screen_three" @click='exitPass()' >Виды работы</a></div>
				<div class="nav_text" ><a href="#sreen_five_mobile" @click='exitPass()' >Галерея</a></div>
				<div class="nav_text" ><a href="#ten" @click='exitPass()' >Контакты</a></div>
				<div class="exit" :class='{"exit_active": exit}' @click='exitPass()'>
					<div :class='{"exit1": exit}'></div>
					<div :class='{"exit2": exit}'></div>
				</div>
			</div>
			<div class="header_bagk headers_items" :class='{"headers_items_acitive": burger}'>
				<img src="img/logo.png" alt="" class="header_logo"  @click='cons()'>
				<div class="container headers_postion">
					<div class="heder_blockText">
						<div class="header__title" >Изготовление мебели</div>
						<div class="header__text">По индивидуальному заказу в сургуте</div>
					</div>
					<div class="button btn_header" style="margin-top: 136px;"><a href="#nine" @click='showWind()'>Оформить заказ</a></div>
				</div>
			</div>
			<nav> 
				<div class="container">
					<div class="nav_positon">
						<div class="nav_text" ><a href="#main">Главная</a></div>
						<div class="nav_text"><a href="#screen_two">О нас</a></div> 
						<div class="nav_text" ><a  href="#screen_three">Виды работы</a></div>
						<div class="nav_text"><a href="#sreen_five">Галерея</a></div>
						<div class="nav_text" ><a href="#ten">Контакты</a></div>
					</div>	

				</div>
			</nav>
		</header>
		<div class="navFixed">
			<div :class='{"navFixed_active": navButton == "1"}' @click='changeWind(1)' ></div>
			<div :class='{"navFixed_active": navButton == "2"}' @click='changeWind(2)' ></div>
			<div :class='{"navFixed_active": navButton == "3"}' @click='changeWind(3)' ></div>
			<div :class='{"navFixed_active": navButton == "4"}' @click='changeWind(4)' ></div>
			<div :class='{"navFixed_active": navButton == "5"}' @click='changeWind(5)' ></div>
			<div :class='{"navFixed_active": navButton == "6"}' @click='changeWind(6)' ></div>
			<div :class='{"navFixed_active": navButton == "7"}' @click='changeWind(7)' ></div>
			<div :class='{"navFixed_active": navButton == "8"}' @click='changeWind(8)' ></div>
			<div :class='{"navFixed_active": navButton == "9"}' @click='changeWind(9)' ></div>
			<div :class='{"navFixed_active": navButton == "10"}' @click='changeWind(10)' ></div>
		</div>
		
		<div class="screen_two items screen" id="screen_two" :class='{"headers_items_acitive": burger}'>
			<div class="container " :style="hide">
				<div class="two_mainText">
					<div class="main_title">Добро пожаловать  на наш сайт</div>
					<div class="main_text">мебельной компании “Поэзия Мебели”!  </div>
				</div>
				<div class="two_items">
					<div class="two_text">Мы молодая компания, работаем на мебольном рынке с момента своего основания  в 2012 году.<br>
					Мы изготавливаем  мебели по индивидуальному заказам.</div>
					<div class="img_position">
						<img src="img/free-icon-shield-4328124 1.png" alt="" class="two_img">
					</div>
				</div>

			</div>
		</div>
		<div class="screen_three screen" id="screen_three"> 

			<div class="container" id='subject' v-if='screen_three'>
				<div class="three_tittle" :class="{'hide' : !screen_three, 'show': screen_three}">Что мы можем</div>
				<div class="subject"  :class="{'move_subject' :  threeAnimation}" v-if='check' key="subjectOne">
						<div class="obj obj_1">
							<div class="element_img elment_img_1"></div>
							<div class="SubText SubText_1">Шкаф</div>
						</div>
						<div class="obj obj_2">
							<div class="element_img elment_img_2"></div>
							<span class="SubText SubText_2">Детская мебель</span>
						</div>
						<div class="obj obj_3">
							<div alt="" class="element_img elment_img_3"></div>
							<span class="SubText SubText_3">Кухни эконом и<br>премиум класса</span>
						</div>
						<div class="obj obj_4">
							<div class="element_img elment_img_4"></div>
							<span class="SubText SubText_4">
								Межкомнатные<br>перегородки 
							</span>
						</div>
						<div class="obj obj_1">
							<div class="element_img elment_img_5"></div>
							<span class="SubText SubText_1">Мебель для ванной</span>
						</div>
						<div class="obj obj_2">
							<div class="element_img elment_img_6"></div>
							<span class="SubText SubText_2">Торговое и выставочное оборудование</span>
						</div>
						<div class="obj obj_3">
							<div alt="" class="element_img elment_img_7"></div>
							<span class="SubText SubText_3">Мебель для баров и <br> ресторанов</span>
						</div>
						<div class="obj obj_4">
							<div class="element_img elment_img_8"></div>
							<span class="SubText SubText_4">
								Офисная мебель
							</span>
						</div>		
				</div>
					
			</div>
		</div>
		<div class="screen_four screen">
			<div class="four_items" :style='four_items'>	
				<div class="items_schrank">
					<img src='./img/shkaf2 1.png' alt="" alt="" class="schrank" >
				</div>	
				<div class="round_items" :style='fourText'>
					<div class="four_title">374</div>
					<img src="./img/Group 1.png" alt="" class='round_linear'>
					<div class="four_text"><pre>ГОТОВЫХ ИЗДЕЛИЙ ЗА <b>5 ЛЕТ</b> </pre></div>
				</div>
			</div>
			<div class="four_items_mobil" :style='four_items'>	
				<div class="items_schrank">
					<img src='./img/shkaf2 1.png' alt="" alt="" class="schrank" >
					<div class="round_items_mobil" :style='fourText'>
						<div class="four_title">374</div>
						<img src="./img/Group 1.png" alt="" class='round_linear'>
						<div class="four_text"><pre>ГОТОВЫХ ИЗДЕЛИЙ ЗА <b>5 ЛЕТ</b> </pre></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="sreen_five screen" id="sreen_five">
			<div class="five_title">КОЛЛЕКЦИИ НАШИХ РАБОТ </div>
			<div class="five_items">
				<div class="Oline">
					<div class="Oline_img picture"></div>
					<div class="Oline_img picture"></div>
					<div class="Oline_img picture"></div>
				</div>
				<div class="Tline">
					<div class="Oline_img picture"></div>
					<div class="Oline_img picture"></div>
					<div class="Oline_img picture"></div>
				</div>
			</div>
			<div class=" btn_five button button_color "><a href="#nine" @click='showWind()'>Оформить заказ</a></div>
		</div>
		<div class="sreen_five_mobile " id="sreen_five_mobile">
			<div class="five_title">КОЛЛЕКЦИИ НАШИХ РАБОТ </div>
				<div class='jobs_slider'>
						<div>
							<img src="img/Rectangle 34.png" alt="" class="Oline_img">
						</div>
						<div>
							<img src="img/Rectangle 29.png" alt="" class="Oline_img">
						</div>
						<div>
							<img src="img/Rectangle 35.png" alt="" class="Oline_img">
						</div>
						<div>
							<img src="img/Rectangle 36.png" alt="" class="Oline_img">
						</div>
						<div>
							<img src="img/Rectangle 37.png" alt="" class="Oline_img">
						</div>
						<div>
							<img src="img/шк4.jpg" alt="" class="Oline_img">
						</div>
				</div>
				<div class=" btn_five button button_color"><a href="#nine" @click='showWind()'>Оформить заказ</a></div>
		</div>
		
		<component-a></component-a>
		<div class="screen"></div> 
		<div class="six_wind ">
			<p class="six_wind_title">Наши поставщики</p>

			<!-- 	<img src="img/Лево.png" alt="" class="arrows left "> -->
			<div class="slader">  
				<div class="provider"><img src="img/Поставщики/1.png" class="provider_img" alt=""></div>
				<div class="provider"><img src="img/Поставщики/2.png" class="provider_img" alt=""></div>
				<div class="provider"><img src="img/Поставщики/3.png" class="provider_img" alt=""></div>
				<div class="provider"><img src="img/Поставщики/4.png" class="provider_img" alt=""></div>
				<div class="provider"><img src="img/Поставщики/5.png" class="provider_img" alt=""></div>
				<div class="provider"><img src="img/Поставщики/6.png" class="provider_img" alt=""></div>	
			</div>

			<!-- 			<img src="img/Право.png" alt="" class="arrows right"> -->
		</div>
		<div class="seven screen" >
			<div class="seven_wind wind" :style="seven_screen">
				<p class='seven_title' style="font-family: 'Rubik-medium'">10 <img src="img/skidka.png" alt="" class="skidka"> Скидка</p>
				<p class="seven_text seven_items1" >ЗА ПОВТОРНОЕ ОБРАЩЕНИЕ</p>
				<p class='seven_items2'><b>+</b></p>
				<p class="seven_text seven_items2 ot" >Рассрочка 3 месяца <br>
					<span style="font-family: 'Rubik-medium'">БЕЗ УЧАСТИЯ БАНКА</span>
				</p>
				<div class=" btn_seven button button_color "><a href="#nine" @click='showWind()'>Оформить заказ</a></div>
			</div>
		</div>
		<div class="eight screen">
			<div class="eight_title" :style="eth_text">Выезд на замер <br>
			И дизайн проекта  бесплатно</div>
			<div class="subtitle">
				<p class="eight_text">В итоге вы получаете:</p>
				<img src="img/pencil.png" alt="" :class="{'pencil' : pencil}" style='opacity: 0;'>
			</div>			
			<div class="eight_block">
				<p class="eight_items" :style="eight1">
					<img src="img/3d.png" alt="" class='eight_img'> <span class="eight_items_text">3D модель мебели</span>
				</p>
				<p class="eight_items" :style="eight2">
					<img src="img/rub.png" alt="" class='eight_img'> <span class="eight_items_text" >Полную стоимость заказа </span>
				</p>
			</div>
		</div>
		
		<div class="nine screen" >
			<div class="nine_wind wind" :style='wind' id='nine'>
				<div class='nine_title' style="font-family: 'Rubik-medium'">Оформите заявку</div>
				<span class="seven_text nine_items1"  id='123'>На бесплатную констультацию <br>
				и выезд замерщика</span>
				<div class="nine_items">
					<div class="input_name">
						<input type="text" class="name input" placeholder="Имя *">
						<input type="text" class="name input" placeholder="Фамилия *">
					</div>
					<input type="tel" class='input tel' placeholder="Телефон">
					<textarea name="" id="" cols="30" rows="10" class='input' placeholder="Сообщение"></textarea>
				</div>
				<div class=" btn_nine button button_color "><a href="#nine" @click='showWind()'>Оформить заказ</a></div>
			</div>
		</div>
	</div>	
		<div class="ten screen" id='ten'>
			<div class="container">
				<div class="title titel_ten">Контакты</div>
				<div class="ten_items">
					<span class='ten_text'>
						База “Союз оптовиков”, магазин BOSH, 2 ЭТАЖ <br>
						Адрес: г.Сургут, ул. 30-лет Победы 51/4<br>
						Телефон: +7 (3462) 97-72-70<br>
						E-mail: rsit86@mail.ru
						<div class=" btn_ten button "><a href="#" >Заказать мебель</a></div>
					</span>
					<iframe  class='map' src="https://yandex.ru/map-widget/v1/?um=constructor%3A6ebf6831c82526bfa4f3f362a5ad59ae613813afde7e1ca93c53503651a3efa0&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
				</div>
			</div>
		</div>
		<footer>
			<img src="img/Mask Group.png" alt="" class='footer_img'>
			<span class='footer_text'>Изготовление  мебели по <br>
			Индивидуальному заказу в г.Сургуте</span>
		</footer>
	</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


<script type="text/javascript" src="./assets/slick/jquery.js"></script>
<script type="text/javascript" src="./assets/slick/slick.min.js"></script>
<script type="text/javascript" src="assets/index.js"></script>
</body>
</html>
