@font-face{
	font-family: 'Rubik';
	src: url(fonts/Rubik-Light.ttf);
}

@font-face{
	font-family: 'Rubik-medium';
	src: url(fonts/Rubik-medium.ttf);
}

@font-face{
	font-family: 'Rubik-bold';
	src: url(fonts/static/Rubik-Bold.ttf);
}


body{
	margin: 0;
}

a{
	text-decoration: none;
}

.header_bagk{
	margin: 0;
	padding: 0;
	background-image: url(img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
	width: 100%;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.header_logo{
	height: 8%;
	width: auto;
	margin: 13.7% 37.23% 0 38.27%; 
}

.heder_blockText{
	margin-top: 14.8%;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: 56px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	letter-spacing: 0.00875em;
	text-transform: uppercase;


	color: #FFFFFF;

	mix-blend-mode: lighten;
}

.header__title {
	font-family: 'Rubik-medium';
	
	font-size: 48px;
}

.header__text{
	font-size: 36px;
}

.button {
	font-size: 18px;
	width: 251px;
	height: 61px;
	background: #fff;
	border-radius: 5px;
	margin: 136px  auto;
	display: flex;
	align-items: center;
	justify-content:center;
	margin: 0 auto;
	transform: translate(0%, 230%);
	text-transform: uppercase;
	font-weight: 500;
	line-height: 156.9%;
	letter-spacing: 0.00875em;
}

.button a{
	color: #000;
}

nav{
	width: 100%;
	height: 90px;
	background: #12192C;
}

.nav_positon{
	display: flex;
	justify-content: space-between;
}
.nav_text {
	font-family: Rubik-medium;
	font-size: 20px;
	color: #F8D833;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 187px;
	height: 90px;
}

.nav_text:hover{
	background: #000;
}

.screen_two {
	height: 908px;
	width: 100%;
	background-image: url(img/banner_img.png);
	background-size: cover;
}

.two_mainText {
	font-family: 'Rubik-bold';
	padding-top: 12%;

}


.main_title {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 209.9%;

	text-align: center;
	text-transform: uppercase;

	color: #000000;
}
.main_text {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 209.9%;
	/* or 50px */

	text-align: center;

	color: #000000;
}
.two_text {
	margin-top:7.3%;
	font-family: Rubik;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 209.4%;
	/* or 38px */

	text-align: center;

	color: #000000;
}
.img_position{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 100%;
}

.two_img {
	display: block;
	
	width: 108px;
	height: 108px;
	transform: translate(0px, 141px,);
}

.screen_three {
	width: 100%;
	height: 1052px;
	background: url(img/fon1.jpg) top no-repeat;
	background-size: cover;
}
.three_tittle {
	padding-top: 6.2%;
	font-family: Rubik-medium;
	font-style: normal;
	font-size: 48px;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.00875em;

	color: #000000;
}


.subject {
	margin: 0 auto;
	display: flex;
	height: 923px;  
	flex-direction: column;
	align-items: center;	
	justify-content: center;
}

.string{
	
	display: flex;
}
.string1{
	height: 24.2%;
	width: 69.91%;
}

.string2{
	height: 14.5%;
	width: 68.1%;
	margin-top: 11.2%;
}


.obj_2{
	margin-left: 46%;
}
.obj_3{
	width: 112%; /**/
	height: 100.87%;
}
.obj_4{
	margin-left: 51%;
	margin-right: 3.9%;
}

.element_img {
	margin: 0 auto;
	display: block;
}

.elment_img_1{
	width: 175px;
	height: 151px;
	background: url(img/subj/shkaf.png) center no-repeat;
}
.elment_img_1:hover{
	width: 175px;
	height: 151px;
	background: url(img/subj/Mask_Group.png) center no-repeat;
}
.elment_img_2{
	width: 251px;
	height: 141px;
	background: url(img/subj/baby.png) center no-repeat;
}
.elment_img_2:hover{
	width: 251px;
	height: 141px;
	background: url(img/subj/baby2.png) center no-repeat;
}
.elment_img_3{
	width: 140px;
	height: 150.53px;
	background: url(img/subj/kitchen.png)center  no-repeat;
}
.elment_img_3:hover{
	width: 140px;
	height: 150.53px;
	background: url(img/subj/kitchen2.png) center no-repeat;
}
.elment_img_4{
	width: 169px;
	height: 151px;
	background: url(img/subj/peregorodka.png) center no-repeat;
}
.elment_img_4:hover{
	width: 169px;
	height: 151px;
	background: url(img/subj/peregorodka2.png) center no-repeat;
}
.string2 {}

.SubText{
	font-size:24px;
	font-weight: 600;
	display: block;
	text-align: center;
}

.SubText_1{
	margin-top: 27px;
}
.SubText_2{
	margin-top: 32px;
}
.SubText_3{
	margin-top: 24.7px;
}
.SubText_4{
	margin-top: 24px;
}
