
@font-face{
	font-family: 'Rubik-medium';
	src: url('fonts/static/Rubik-Medium.ttf');
}


body{
	padding: 0;
	margin: 0;
	float: none;
}

.header{
	width: auto;

	height: 1005px;
	background: url(img/header.jpg) no-repeat;
	left: 0;
	right: 0;
	top:0;
	border: 1px solid red;
	background-size: cover;
}

.container{
	width: 1170px;
	margin: 0px auto;
}


.logo{
	position: absolute;
	widt: auto;
	height: 12%;
	left: 38.27%;
	right: 37.23%;
	top: 18.02%;
	bottom: 74.43%;
}

.header_text{
	position: absolute;
	left: 8.79%;
	right: 8.76%;
	top: 50%;
	bottom: 46.47%;
	font-style: normal;
	line-height: 390%;
	align-items: center;
	text-align: center;
	letter-spacing: 0.00875em;
	color: #FFFFFF;
}

.text_One{
	font-family:'Rubik';
	font-weight: 500;
	font-size: 270%;
	transform: scaleY(1.08);
}



.text_Two{
	font-family: 'Rubik';
	font-size: 220%;

}

.button{
	widht: 21.36%;
	height: 8%;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	left: 39.79%;
	right: 42.8%;
	top: 94.06%;
	/*Выравнивание*/

	display: flex;
	justify-content: center;
	align-items: center;

}
 a{
	text-decoration: none;
 } 
.button_link a{
	text-decoration: none;
	color: black; 
}
.button_link{
	color: #000;
	font-family: 'Rubik';
	font-size: 18px;
}

.block_nav {
	width: 100%;
	position: absolute;
	height: 85px;
	background: #12192C;
	left: 0%;
	top: 118.4%;
	bottom: 0%;

}


.nav_row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav_block {
	width: 100%;
	height: 85px;
	background-color: #12192C;
	display: flex;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
}

.nav_block:hover,  .button_nav::before {
	background-color: #000;
	color: white;
}




.nav_block a{
	display: block;
	font-family: 'Rubik-medium';
	font-size: 120%;
	color: #F8D833;
}

