@font-face{
	font-family: 'Rubik';
	src: url(fonts/Rubik-Light.ttf);
}
* {
	min-height: 0;
	min-width: 0;
  }

@font-face{
	font-family: 'Rubik-medium';
	src: url(fonts/Rubik-medium.ttf);
}

@font-face{
	font-family: 'Rubik-bold';
	src: url(fonts/static/Rubik-Bold.ttf);
}

.four_text pre {
	font-family: 'Rubik';	
}

.gm-style .place-card-large{
	display: none;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Rubik';
	overflow-x: hidden;
}

div.gmnoprint{
	display: none;
}

 #app{
	 overflow: hidden !important;
 }

 #subject{
	 display: grid;
	 height: 100%;
 }

a{
	text-decoration: none;
	color: inherit;
}
header{
	height: 850px;
	background-image: url(img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0; 
	left: 0
}
.header_bagk{
	height: 93.4%;
	width: 100%;
}
.container {
	width: 1170px;
	margin: 0 auto;
	transition: 2s all;
}

.navFixed{
	position: fixed;
	width: 1.18%;
	height: 247px;
	right: 62px;
	top: 50%;
	transform: translate(0, -50%);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 10;
}

.navFixed div{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: transparent;
	border: 3px solid  #F8D833;

	
}

.navFixed_active{
	background-color: #F8D833 !important;
}



.scroll{
	width: 100px;
	height: 100px;
	position: fixed;
	left: 30px;
	top: 30px;
	background-color: #000;
	color: #fff;
	z-index: 4;
}



.mobilNav{
	display: none;
}
.headers_items{
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: all 1s;
}

.sreen_five_mobile{
	display: none;
}

.items{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.headers_postion{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
    height: 93.4%;
    justify-content: center;
}



.header_logo{
	height: 10%;
	margin-top: 5%;
	width: auto;
	opacity: 0;
	animation: appearance 3s forwards ;

}

@keyframes appearance {
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

.screen_two .container{
	opacity: 0 !important;
	transition: all 2s;
}

.heder_blockText{
	margin-top: 5%;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	line-height: 56px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	letter-spacing: 0.00875em;
	text-transform: uppercase;


	color: #FFFFFF;

	mix-blend-mode: lighten;
}

.header__title {
	font-family: 'Rubik-medium';
	
	font-size: 2.7em;
}

.header__text{
	font-size: 2.25em;
}
.slader .slick-slide{
	padding: 0 0 !important;

  }


  

.button {
	font-size: 1.125em;
	width: 21%;
	height: 61px;
	
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content:center;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 156.9%;
	letter-spacing: 0.00875em;
	cursor: pointer;
}

.btn_header{
	background: #fff;
	font-family: 'Rubik-medium';
	transition: .5s all;
	margin-top: 11.66% !important;
}

.btn_header:hover{
	background-color: transparent;
	color: rgba(248, 203, 23, 1);
	border: 1px solid rgba(248, 203, 23, 1);
}


.button_color{
	background-color: #F8CB17;
}

.btn_five{
	position: relative;
	top: 20%;
	width: 18%;
	margin: 0 auto;
	background: ;
}



.button a{
	color: inherit;
}

nav{
	width: 100%;
	height: 80px;
	background: #12192C;
}

.nav_positon{
	display: flex;
	justify-content: space-around;
	scroll-behavior: smooth;
}
.nav_text {
	font-family: Rubik-medium;
	font-size: 1.25em;
	color: #F8D833;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 100%;
	height: 80px;
}


div.Oline_img{
	width: 100%;
	height: auto;
	cursor: pointer;
}

.Oline .Oline_img:nth-child(1){
	background: url(./img/Rectangle\ 34.png);
}
.Oline .Oline_img:nth-child(1):hover{
	background: linear-gradient(30deg, #f8d73382, #f8d73382), url(./img/Rectangle\ 34.png);
}

.Oline .Oline_img:nth-child(2){
	background: url(./img/Rectangle\ 29.png);
}
.Oline .Oline_img:nth-child(2):hover{
	background: linear-gradient(30deg, #f8d73382, #f8d73382), url(./img/Rectangle\ 29.png);
}

.Oline .Oline_img:nth-child(3){
	background: url(./img/Rectangle\ 35.png);
}
.Oline .Oline_img:nth-child(3):hover{
	background: linear-gradient(30deg, #f8d73382, #f8d73382), url(./img/Rectangle\ 35.png);
}


.Tline .Oline_img:nth-child(1){
	background: url(./img/Rectangle\ 36.png);
}
.Tline .Oline_img:nth-child(1):hover{
	background: linear-gradient(30deg, #f8d73382, #f8d73382), url(./img/Rectangle\ 36.png);
}

.Tline .Oline_img:nth-child(2){
	background: url(./img/Rectangle\ 37.png);
}
.Tline .Oline_img:nth-child(2):hover{
	background: linear-gradient(30deg, #f8d73382, #f8d73382), url(./img/Rectangle\ 37.png);
}

.Tline .Oline_img:nth-child(3){
	background: url(./img/шк4.jpg);
	background-size: 360px auto;
}
.Tline .Oline_img:nth-child(3):hover{
	background: linear-gradient(30deg, #f8d73382, #f8d73382), url(./img/шк4.jpg);
	background-size: 360px auto;
}


.popup{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	background-color: rgba(0, 0, 0, 0.77);
	z-index: 25;
}

.block__exit{
	position:  absolute;
	width: 100vw;
	height: 100vh;
}

.popup__exit{
	width: 3%;
	height: 5%;

	position: absolute;
	z-index: 26;
	right: 3%;
	top: 3%;
	opacity: 1;
	transition: all 1s;
}

.showExit{
	opacity: 1;
}


.popup__exit div{
	width: 3px;
	border-radius: 3px;
	height: 100%;
	margin-left: 30%;
	background-color: rgb(255, 255, 255);
	position: absolute;
}


.popup__exit div:nth-child(1){
	transform: rotate(45deg);
}

.popup__exit div:nth-child(2){
	transform: rotate(135deg);
}





.gallery{
	height: 80%;
	display: flex;
	align-items: center;
	position: relative;
	opacity: 0;
	
}

.gallery__block{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	z-index: 1 !important;
}

.gallery__block img{
	max-height: 60vh;
	min-height: 55vh;
	width: auto;
}

.gallery .slick-arrow{
	font-size: 0;
	
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	line-height: 0;
	color: transparent;
	border: none;
	outline: none;
	width: 2.9%;
	height: 28%;
	z-index: 10;
	
}

.gallery .slick-prev{
	left: 3%;
	background: url(./img/pre.png);
	background-repeat: no-repeat;
	background-size: contain;
	 z-index: 28;
}

.gallery .slick-next{
	right: 3%;
	background: url(./img/next.png);
	background-repeat: no-repeat;
	background-size: contain;
}








.nav_text:hover{
	background: #000;
	color: #fff;
	transition: .6s all;
}

.screen_two {
	height: 900px;
	width: 100%;
	background-image: url(img/banner_img.png);
	background-size: cover;
}


.two_rise{
	opacity: 1;
}

.two_rise{
	opacity: 1;
}

.two_mainText {
	font-family: 'Rubik-bold';
	margin-top: 10%;
}

.obj{
	width: 300px !important;
	display: flex !important;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	
}


.main_title {
	font-style: normal;
	font-weight: bold;
	font-size: 2.25em;
	line-height: 209.9%;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}
.main_text {
	font-style: normal;
	font-weight: 500;
	font-size: 1.5em;
	line-height: 209.9%;
	text-align: center;
	color: #000000;
}

.eight_block p:nth-child(2) > .eight_img{
		width: 70px !important;
	}

.two_items{

	display: flex;
    flex-direction: column;
    justify-content: center;
	
}
.two_text {
	margin-top:7.3%;
	font-family: Rubik;
	font-style: normal;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 209.4%;
	/* or 38px */
	text-align: center;
	color: #000000;
}

.provider{
	text-align: center;
}
.slick-track{
	align-items: end  !important;
}

.img_position{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 12%;
}



.two_img {
	display: block;
	max-width: 108px;
	max-height: 108px;
	transform: translate(0px, 141px,);
}

.screen_three {
	width: 100%;
	height: 820px;
	background: url(img/fon1.jpg) top no-repeat;
	background-size: cover;
}
.three_tittle{
	padding-top: 5%;
	font-family: Rubik-medium;
	font-style: normal;
	font-size: 3em;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.00875em;
	color: #000000;
	transition:  opacity 5s;
	height: min-content;
}

.hide{
	opacity: 0;
}

.show{
	opacity: 1;

}

.move_subject{
	animation: moveSubject 1.5s ease-out forwards;

}

.windows{
	width:  100px;
	height:  100px;
	background:  white;
	position: fixed;
	color: black;
}


@keyframes moveSubject{
	0%{
		margin-left:  500px;
		
	}

	100%{
		margin-left:  0px;

	}
}




.subject {
	
	height: 568px;


}

.subject .slick-arrow{
	display:none !important;
}




.string{
	
	display: flex;
}
.string1{
	height: 36%;
	width: 69.91%;
}
.subject_right{
	margin-right: 190px;
}

.string2{
	height: 45%;
	width: 68.1%;
	margin-top: 11.2%;
}



.element_img {
	display: block;
	
}

.elment_img_1{
	width: 58%;
	height: 70%;
	background: url(./img/subj/shkaf.png) center no-repeat;

}
.elment_img_1:hover{
	width: 58%;
	height: 70%;
	background: url(./img/subj/Mask_Group.png) center no-repeat;

}
.elment_img_2{
	width: 83%;
	height: 65%;
	background: url(./img/subj/baby.png) center no-repeat;
}
.elment_img_2:hover{
	width: 83%;
	height: 65%;
	background: url(./img/subj/baby2.png) center no-repeat;
}
.elment_img_3{
	width: 46%;
	height: 69.7%;
	background: url(./img/subj/kitchen.png)center  no-repeat;

}
.elment_img_3:hover{
	width: 46%;
	height: 69.7%;
	background: url(./img/subj/kitchen2.png) center no-repeat;
}
.elment_img_4{
	width: 56%;
	height: 70%;
	background: url(./img/subj/peregorodka.png) center no-repeat;
}
.elment_img_4:hover{
	width: 56%;
	height: 70%;
	background: url(./img/subj/peregorodka2.png) center no-repeat;
}

.elment_img_5{
	width: 58%;
	height: 70%;
	background: url(./img/subj/vanna.png) center no-repeat;
	background-size: 175px auto;
}
.elment_img_5:hover{
	width: 58%;
	height: 70%;
	background: url(./img/subj/vanna2.png) center no-repeat;
	background-size: 175px auto;
}
.elment_img_6{
	width: 83%;
	height: 65%;
	background: url(./img/subj/torg.png) center no-repeat;
	background-size: 165px auto;
}
.elment_img_6:hover{
	width: 83%;
	height: 65%;
	background: url(./img/subj/torg2.png) center no-repeat;
	background-size: 165px auto;
} 
.elment_img_7{
	width: 60%;
	height: 74%;
	background: url(./img/subj/bar.png) center no-repeat;
	background-size: 175px auto;
}

.elment_img_7:hover{
	width: 60%;
	height: 74%;
	background: url(./img/subj/bar2.png) center no-repeat;
	background-size: 175px auto;
}

.elment_img_8{
	width: 57.3%;
	height: 70%;
	background: url(./img/subj/office.png) center no-repeat;
	background-size: 175px auto;
}

.elment_img_8:hover{
	width: 57.3%;
	height: 70%;
	background: url(./img/subj/office2.png) center no-repeat;
	background-size: 175px auto;
}





.screen_three  .slick-slide > div:nth-child(even){
	margin-top: 80px;	
}


.slick-slide div{
	min-width: 190px;
}

.screen_three  .slick-slide > div > div{
	height: 215px;
	position: relative;
	
}












.string2 {}

.SubText{
	font-size: 1.5em;
	font-weight: 600;
	display: block;
	text-align: center;
	position: absolute;
	height: 24%;
	bottom: 0;
}



.checkbox{
	display: flex;
	align-items:flex-end;
	justify-content: center;
	margin-top: 1%;
	top: 0;
	left: 0;
	width: 100%;
	height: 54%;
}

.quire{
	width: 20px;
	height: 20px;
	border: 1px solid black;
	border-radius: 50%;
	position: relative;
	bottom: 0;
}

.check{
	background-color: #000;
}

.rightQuire{
	margin-left: 1%;
}




.screen_four{
	width: 100%;
	height: 885px;
	display: flex;
	align-items: center;
}



.four_items{
	width: 65%;
	height: 425px;
	display: flex;
	margin:0 auto;
	opacity: 0;


}


@keyframes four_items{
	0%{
		margin-right: 1000px;
		margin-top: 500px;
		opacity: 0;
		transform: scale(0.1);
	}

	100%{
		opacity: 1;
		transform: scale(1);
		margin-top: 0px;
		margin-right: 200px;
	}
}

.round{
	position: relative;
}

.line_four
.round{
	position: relative;
	right: 30%;
	top: 90px;
}

.round_items{
	position: relative;
	top: 2%;
	right: 3.2%;
	opacity: 0;
}

@keyframes round_items{
	0%{
		transform: scale(0.0001);
		opacity: 0;
		margin-left: 200px;
		margin-top: 200px;
	}
	50%{

	}
	100%{
		transform: scale(1);
		opacity: 1;

	}
}




.four_title{
	color: rgba(248, 203, 23, 1);
	font-size: 5em;
	display: inline-block;
	position: relative;
	left: 40%;
	top: 40%;
	font-family: "Rubik";
}

.four_text{
	width: 83%;
   margin-left: 11.8%;
   text-align: center;
   font-size: 1.3em;
   line-height: 21px;
   margin-top: 0.5%;
}



.schrank{
	max-height: 450px;
	max-width: auto;

}





.round_linear{
	width: 81% ;
	height: auto;
	
}



.sreen_five{
	width: 100%;
	height: 1000px;
	background:#fffbed;
	position: relative;
}


.five_items{
	position: relative;
	top: 15%;
	right: 1%;
	width: 76%;
	margin: auto;
}

.Oline_img{
	max-width: 322.16px;
	max-height: 282px;
	margin-left: 3.1%;
	margin-bottom: 3.1%; 
}



.Oline, .Tline{
	white-space: nowrap;
	display: flex;
	justify-content: center;
	height: 303px;
	z-index: 9;
}
.five_title{
	text-align: center;
	font-family: Rubik;
	font-style: normal;
	position: relative;
	top: 5%;
	gallery
	font-weight: 500;
	font-size: 3em;
}

.picture{
	z-index: 10;
}


.six_wind {
	height: 400px;
	width: 100%;
	position: relative;
}
.slaider {
	height: 100px;
	width:  1170px;
	position: absolute;
	top: 50%;
	margin: 0 auto;
	left: 0;
	right: 0;
	transform: translate(0, -50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}




.six_wind_title{
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 3em;
	text-align: center;
}


.seven {
	width: 100%;
	height: 907px;
	background: url('img/Rectangle 38.png') no-repeat;
	background-size: cover;
	position: relative;
}


.seven_wind {
	background: rgba(255, 255, 255, 0.56);
	margin: 0 auto;
	width: 522.45px;
	height: 59%;
	

}

.wind{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	opacity: 0;
	transform: translate(0, -50%);
	padding: 4% 0;
	transition: 1s all;
}
@keyframes wind {
	0%{
		opacity: 0;

	}
	100%{
		opacity: 1;
	}
}

.seven_title{
	font-family: Rubik;
	font-style: normal;
	width: 59%;
	font-weight: normal;
	font-size: 3em;
	line-height: 156.9%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.seven_text{
	display: block;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: normal;
	font-size: 1.5em;
	text-align: center;
}
.skidka{
	width: 21%;
	height: auto;
}

.btn_seven{
	width: 47%;
	height: 9%;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 8%;
}

.seven_items1{
	margin-top: 12%;
}

.ot{
	text-transform: uppercase;
	line-height: 46px;
}

.seven_items2{
	text-align: center;
	margin-top: 8%;
	font-size: 1.5em;
}


.eight {
	width: 100%;
	height: 800px;
	position: relative;
	background: rgba(255, 199, 2, 0.09);
	padding-top: 5%;
}
.eight_title {
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 3em;
	text-align: center;
	transition: 2s all;
	opacity: 0;
}

.eight_img{
	height: 58px;
	width: auto;
}
.eight_block {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 40%
}

.eight_items:nth-child(1){
	opacity: 0;
}

.eight_items:nth-child(2){
	opacity: 0;
}

.eight_items{
	margin-right: 100px;
}

@keyframes eightOne{
	0%{
		margin-right: 1000px;
	}

}

.pencil{
	animation: pencil 0.5s cubic-bezier(.55,.09,.68,.53) forwards;
	opacity: 1 !important;

}

@keyframes pencil{
	0%{
		margin-left: 1000px;
	}
	100%{
		opacity: 1 !important;
	}
}



.subtitle{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top:7%;
}
.eight_text {
	font-size: 1.125em;
}
.eight_items {
	margin-top: 6%;
	width: 25%;
	white-space: nowrap;
	display: flex;
	align-items: center;
}
.eight_items_text {
	font-family: 'Rubik-medium';
	font-size: 1.5em;
	margin-left: 8%;
}


.title{
	font-family: 'Rubik-medium';
	text-align: center;
	font-size: 3em;
}

.nine{
	width: 100%;
	height: 968px;
	background: url('img/fon3.jpg') no-repeat;
	position: relative;
	background-size: cover;
}

.nine_wind{
	background: rgba(255, 255, 255, 0.91);;
	margin-left: 235px;
	width: 42%;
	height: 67%;
	transition: 2s all;
}

.nine_title{
	font-size: 3em;
	text-align: center;
}
.nine_text{
	display: block;
}

.nine_items{
	width: 68%;
	height: 61%;
	margin: 0 auto;
}

.nine_items1{
	margin-top: 5%;
}


.input_name{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 8%;
}

.name{
	width: 169px;
	height: 29px;
}

.tel{
	width: 98%;
	height: 8%;
	margin-top: 6.2%;
}


textarea {
	width: 98%;
	height: 207px;
	margin-top: 6.2%;
	padding-left: 2%;
	font-size: 1.125em;
	font-family: 'Rubik';
}

.btn_nine{
	width: 47%;
	height: 9%;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
}

input{
	padding-left: 2%;
	font-size: 1.125em;

}

.ten{
	width: 100%;
	height: 800px;
	background-color: rgba(18, 25, 44, 1);
	padding-top: 9.6%;
	z-index: 10;
}

.ten_items{
	height: 100%; 
	display: flex;
	margin-top: 10%;
	position: relative;

}

.slader .slick-slide{
	padding: 0 0 !important;
}

.slader{
	position: relative;
	height: 50%;
}



.map{
	margin-left: 10%;
}

.ten_text{
	line-height: 1.75em;
	color: #fff;
	white-space: nowrap;
	font-size: 1.5em;
}

.titel_ten{
	color: #fff;
}

.btn_ten{
	width: 269px;
	border: 3px solid #F8CB17;
	box-sizing: border-box;
	border-radius: 5px;
	height: 75px;
	position: absolute;
	bottom: 0;
	color:rgba(248, 203, 23, 1);
	font-weight: 900;
	transition: .5s all;
	font-size: 0.7em;
}	

.btn_ten:hover{
	color:#000;
	border: 3px solid #fff;
	background-color: #fff;
	font-weight: 900;
}

footer{
	height:205px;
	width: 100%;
	background: #070C17;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer_text{
	color: #BFB1B1;
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: center;
	margin-top: 2.4%;
}

.footer_img{
	height: 22%;
	width: auto;
}



@media screen and (max-width: 480px){

	.burger{
		position: absolute;
		left: 10px;
		top: 15px;
		width:;
		z-index: 1;
	}

	.subject .slick-dots{
		bottom: 60px !important;
	}

	.round_items{
		right:  !important;
	}

	.two_img{
		max-width: 90px;
		max-height: 90px;
	}

	.schrank{
		position:  absolute;
		left: 0;
	}

	.body_hidden{
		overflow: hidden !important;
	}
	.mobilNav{
		width: 500px;
		position: relative;
		display: block;
		z-index: 1;
		height: 304px;
		position: absolute;
		background-color: #12192C;
		top:0;
		left: -500px;
		transition: all 0.5s;
		filter: blur(0px) !important;
	}

	.btn_nine{
		bottom: 2px;
	}

	.subject .slick-slide{
		display: flex;
	align-items: center;
	flex-direction: column;
	}

	.mobilNav_activ{
		left: 0 !important;
	}

	.nav_text{
		height: 60px;
		width: 100px;
		justify-content: start;
		margin-left: 30px;
	}
	.slader .slick-dots{
		bottom: 0 !important;
		margin-right: 90px;
		left: 15% !important;
		margin-right: 40px;
	}
	
	.seven{
		height: 600px;

	}
	.screen_three{
		height: 700px;
	}

	.headers_items_acitive{
		filter: blur(3px);
	}
	.obj{
		width: 390px !important;
	
	}

	.obj div:first-child {
		background-size: 100px auto;
	}

	.elment_img_2{
		background-size: 140px auto !important;
	}

	.three_tittle{
		opacity: 1 !important;
		font-size: 2.25em;
	}
	.SubText{
		
		width: 160px;
		bottom: 30px;
	}

	

	.wind{
		opacity: 1;
		width: 100%;
		height: 100%;
	}

	.four_items{
		/* align-items: center; */
		opacity: 1 !important;
	}

	.screen_four{
		height: 600px;
	}

	.seven_title{
		margin-top: 50px;
	}

	.wind .button{
		margin-bottom: 50px !important;
	}

	.eight{
		height: 600px;
	}
	.eight_items:nth-child(1){
		opacity: 1;
	}
	
	.eight_items:nth-child(2){
		opacity: 1;
	}
	.subtitle img{
		opacity:1 !important;
		width: 200px;
	}

	

	.eight_img{
		height: 40px;
		min-width: 40px;
	}
	.eight_title{
		opacity:1;
		font-size: 2.1em;
		margin-top: 20px;
	}
	.eight_block{
		top: 50%;
	}

	.eight_block > .eight_items {
		margin-right: 180px;
	}

	.eight_text{
		font-size: 1.5em;
	}

	@keyframes eightOne{
		0%{
			margin-right: 0px;
		}
	
	}
	.nine{
		height: 600px;
		background-image: none;
	}

	.nine_wind{
		margin-left: 0;
	}

	.nine_title{
		font-size: 2.25em;
	}

	.nine_wind{
		padding: 30px 0 !important;
	}


	.burger div{
		width: 40px;
		height: 5px;
		background-color: rgba(167, 162, 29, 0.583);
		margin-top: 5px;
	}



	.input_name{
		flex-direction: column;
		height: 85px;	
	}

	.nine_items input, textarea{
		width: 100%;
		outline: none;
	}

	.round_items{
		position: relative;
		top: 30%;
	}

	.ten{
		margin-top: 50px;
	}

	.exit{
		width: 40px;
		height: 40px;
		position: absolute;
		left: 320px;
		opacity: 0;
		top: 25px;
		z-index: 4;
	}

	

	.navFixed{
		display: none;
	}

	.five_title{
		font-size: 2.25em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.exit_active{
		animation: exit  1s ease forwards;
		opacity: 1;
	}

	@keyframes exit {
		0%{
		
		}
		100%{
			transform: rotate3d(30, 60, 0, 360deg);
		}
	}
	

	.exit div{	
		width: 35px;
		height: 3px;
		background-color: #F8CB17;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.nav_text:hover{
		background-color: transparent;
	}


	.slick-slide {
		width: 400px !important;
	}

	.exit1{
		animation: exit1 1s ease forwards;
	}

	.exit2{
		animation: exit2 1s ease forwards;
	}

	@keyframes exit1{
		0%{
			opacity: 0;
			
		}

		100%{
			transform: rotate(135deg)
		}
	}

	@keyframes exit2{
		0%{
			opacity: 0;
		
}
		100%{
			transform: rotate(-135deg);
		}
	}

	.screen_two{
		height: 650px;
	}

	.main_title{
		margin-top: 20%;
		margin: 0 auto;
		line-height: 140%;
		width: 340px;
	}

	.two_text{
		margin-left: 40px;
		
		text-align: left;
	}

	

	.main_text{
		margin: 0 auto;
		font-size: 1.8em;
		width: 250px;
		margin-top: 20px;
		line-height: 130%;
	}

	nav{
		display: none;
	}

	

	


	header{
		height: 600px;
		background-size: auto 600px;
	}

	body{
		font-size: 12px;
	}

	.headers_postion{
		height:
	}
	.container{
		width: 100% !important;
	}

	.subject{
		padding:0 10px;
	}
	.heder_blockText{
		line-height: 45px;
		margin-top: 40%;
	}

	.header__title{
		font-size: 2em;
	}
	.header__text{
		font-size: 2em;
	}
	.button{
		width: 200px;
		font-size: 1.5em;
		margin-top: 100px !important;
	}

	
	.header_logo{
		height: 8% !important;
		margin-top: 15%;
		width: auto;
		opacity: 0;
		animation: appearance 3s forwards;
	}
	.Oline_img{
		height: 282px;
		border-radius: 3px;
		border: 1px solid rgb(248, 203, 23);
	}

	.schrank{
		height: 250px;
		margin-left: 20px;
	}

	.round_items{
		opacity: 1;
		height: min-content;
	}

	.round_linear{
		width: 74%;
		position: relative;
		bottom: 100px;
		left: 47%;	
	}
	
	.four_title{
		bottom: 20px;
		left: 75%;
	}

	.four_text{
		font-size: 2em;	
		width: 100%;
		position: absolute;
		top: 200px;
		right: 0;
		margin-right: 30px;
		
	}

	.slider .slick-slide{
		padding: 0 150px !important;
	} 

	 .items_schrank{
		height: 300px;
	} 

	 .slader{
		padding: 1px 1px !important;
	} 

	 .slader .slick-arrow{
		display: none !important;
	}

	.sreen_five{
		display: none;
	}
	.sreen_five_mobile{
		display: block;
		background-color:  rgba(255, 200, 2, 0.118);
		height: 600px;
		display: grid !important;	
	}

	.jobs_slider .slick-dots{
		transform: translateX(-60%);
		left: 50%;
	}

	.jobs_slider .slick-arrow{
		display: none !important;
	}

	.jobs_slider {
		align-self: center;
	}

	

	.ten .title{
		font-size: 2.25em;
	}

	.ten_items{
		flex-direction: column;
		display: grid;
	}

	.ten_text{
		white-space: normal;
		padding-left: 10px;
	}
	.btn_five{
		top: 0;
	}

	.btn_ten{
		left: 50%;
		bottom: -140px;
		transform: translate(-50%, 0);
		height: 60px;
		font-size: 1em !important;
		
	}


	.map{
		margin-left: 0;
		width: 350px !important;
		justify-self: center;
		margin-top: 20px;
	}

	.screen_two .container{
		opacity: 1 !important;
		transition: all 2s;
	}

	.Oline_img {
		max-width: none !important;
		margin-left: 0 !important;
		margin-bottom: 0 !important;
		width: 100% !important;
	}

	.slader .slick-dots {
		left: none;
		transform: translateX(0%) !important;
	  } 

	  .slick-list{
		  height: 50%;
	  }
	
}

@media screen and (min-width: 375px) and (max-width: 480px){
	.round_linear{
		left: 53%;
	}

	.four_title{
		left: 78.5%;
	}
}



@media screen  and (min-width: 500px) and (max-width: 800px){
	body{
		font-size: 12px;
	}

	.Oline, .Tline{
		height: 175px;
	}

	.Tline{
		margin-top: 3.1%;
	}

	.slader .slick-dots{
		bottom: -10px !important;
	}



	.Oline div, .Tline div{
		height: 175px;
		background-size: 210px auto !important;
	}

	.Tline .Oline_img:nth-child(3){
		background-size: 235px auto !important;
	}



	
	.navFixed{
		display: none;
	}


	.screen_two{
		margin-top: 0 !important;
	}

	
	.screen_three  .slick-slide > div > div{
		right: 45px;
	}

	header{
		height: 693px;
	}
	.container{
		width: 691px;
	}

	.screen_two{
		height: 526px;
	}
	.img_position{
		margin-top: 8%;
	}

	.two_img{
		max-width: 90px;
		max-height: 90px		
	}

	

	.subject{
		margin-top: 0;
	}

	.four_items{
		align-items: center;
		height: 100%;
	}

	.schrank{
		max-height: 351px;
	}
	
	.button{
		height: 37px;
	}

	.btn_five{
		width: 22% !important;
	}

	.screen_two {
		margin-top: 15.6px;
	}

	.round_items{
		left: 12%;
		bottom: 10%;
		top: 0;
	}

	.four_title{
		top: 130px;
		left: 50%;
	}

	.four_text{
		font-size: 1.4em;
		margin-left:  85px;
	}

	.screen_four{
		height: 517px;
	}

	.slader{
		height: 63% !important;
		position: relative;
		bottom:  10%;	
	}


	.round_linear{
		width: 100%;
	}

	.sreen_five{
		height: 585px;
	}

	.six_wind{
		height: 234px;
	}

	.seven{
		height: 630px;
	}
	.seven_wind{
		width: 354px;
	}

	
	.nine{
		height: 648px;
	}
	

	.nine_wind{
		margin-left: 137px;
		width: 50%;
	}

	.btn_nine{
		bottom:  20.7px;
		width: 166px;
	}

	.nine_wind{
		height: 75%;
	}


	.ten{
		height: 600px;
		padding: 6%;
	}

	.btn_ten{
		width: 166px !important;
		top: 75px;
		right: 135px;
		height: 45px;
		border: 1px solid #fff;
	}
	



	.eight_block p:first-child > .eight_img{
		width: 55.3px !important;
	}

	.eight_block p:nth-child(2) > .eight_img{
		width: 80px !important;
	}

	.ten_items{
		margin-top: 5%;
	}

	.eight_img{
		height: 50px;
	}

	.eight{
		height: 550px;
	}

	.eight_block{
		align-items: flex-start;
		height: 53%;
		justify-content: center;
	}

	.eight_items{
		margin-left: 150px;
	}

	.slick-list{
		margin-bottom: 18.7px;
	}
	.slick-track{
		align-items: end  !important;
	}

	.ten_items{
		display: block;
	}

	

	.map{
		width: 90% !important;
		height: 100% !important;
		margin: 0 auto;
		margin-top: 5%;

	}

	.btn_header{
		width: 166px !important;
		height: 45px;
	}
}

@media screen and (min-width: 801px) and (max-width: 1024px){
	body{
		font-size: 12px;
	}

	.Oline, .Tline{
		height: 240px;
	}


	.Oline div, .Tline div{
		background-size: 250px auto !important;
	}


	.Tline .Oline_img:nth-child(3){
		background-size: 290px auto !important;
	}

	.navFixed{
		display: none !important;
	}
	.container{
		width: 887px;
	}

	.screen_two{
		height: 675px;
	}

	.subject .slick-dots{
		bottom: 20% !important;
	}


	nav{
		height:60px;
	}

	.nav_text{
		height: 60px;
	}
	.button{
		height: 48px;
	}

	
	.round_items{
		left: 8%;
		top: 10%;
	}

	.four_title{
		top: 30%;
	}

	.four_text{
		font-size: 1.4em;
	}

	.screen_four{
		height: 663px;
	}

	.sreen_five{
		height: 750px;
	}

	.six_wind{
		height: 300px;
	}

	.seven{
		height: 680px;
	}
	.seven_wind{
		width: 391px;
	}

	.eight{
		height: 600px;
	}

	.nine{
		height: 726px;
	}

	.nine_wind{
		margin-left: 176px;
	}

	.btn_nine{
		bottom:  15px;
	}

	.ten{
		height: 600px;
	}

	.btn_ten{
		width: 183px !important;
	}

	.map{
		width: 390px !important;
		height: 272px !important;
		margin-top: 5px;
	}
	footer{
		height: 153.75px;
	}

	.eight_img:nth-child(2){
		width: 62px;
	}

	.eight_img:nth-child(2){
		width: 72px;
	}

	.slick-list{
		margin-bottom: 85px;
	}
	.slick-track{
		align-items: end !important;
	}
}


@media screen and (min-width: 1025px) and (max-width: 1350px){
	.slader .slick-arrow{
		top: 40% !important;
	}
	.ten{
		padding-top: 5%;
		height: 80vh;
	}

	.four_title{
		top: 38%;
		
	}

	.round_items{
		right: 0;
		left: 2%;
	}
}


@media screen and (min-width: 1400px) and (max-width: 1600px){
	body{
		font-size: 20px;
	}

	.two_img{
		max-width: 135px !important;
		max-height: 135px !important;
	}
	
	
	nav{
		height: 106px;
		display: flex;
		align-items: center;
	}

	.sreen_five{
		height: 1250px;
	}

	.navFixed div{
		width: 15px;
		height: 15px;
	}

	.Oline, .Tline{
		height: 378px;
	}


	.container{
		width: 1462px;
	}
	

	.wind{
		padding: 2% 0;
	}

	.nine_items{
		height: 55%;
	}

	.textarea{
		height: 258px;
	}

	.seven_wind{
		height: 751px;
		width: 652px;
	}
	.btn_seven{
		bottom: 15%;
	}

	.button{
		width: 332px;
		height: 81px;
	}

	header{
		height: 100vh;
		width: 100vw;
	}
	.subject{
		height: 710px;
	}
	.screen_three{
		height: 1025px;
	}

	.screen_three .slick-slide > div:nth-child(2n){
		margin-top: 0;

	}
	.slick-track .slick-slide  {
		height: 100%;
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: space-around;
		overflow: hidden;
		 width: 611px; 
	
} 

	 .slick-slide > div:nth-child(1){
		position: absolute;
		display: flex;
		justify-content: center;
		left: 0;
		right: 0;
		top: 0;
	}

	.slick-slide > div:nth-child(2){
		position: absolute;
		left: 0;
		right: 0;
		bottom: 10%;
	}

	.slick-track{
		height: 100%;
	}

	.obj{
		width: 400px !important;
	}

	.subject .slick-dots{
		bottom: -30px ;
	}

	.screen_four{
		height: 875px;
	}
	.btn_five{
		top: 17%;
	}

	.slader .slick-arrow{
		width: 50px !important;
		height: 87.5px !important;
	}

	.slader{
		position: relative;
		bottom: 30px;
		
	}
	.slader .slick-dots{
		left: 0 !important;
		right: 0 !important;
		transform: translate(0) !important;
		bottom: 0 !important;
		width: 100px;
		margin: 0 auto;
		padding-left: 0 !important;
	}

	.provider_img{
		min-height: 56px;
		width: auto;
	}
	.slick-dots li button{
		width: 18.75px !important;
		height: 18.75px !important;
	}
	.seven{
		height: 1133px;
	}

	.eight{
		height: 1000px;
	}
	.pencil{
		width: 396px;
	}

	.eight_img{
		height: 72px !important;
	}

	.nine{
		height: 1210px;
	}

	.name{
		width: 211px;
		height: 36px;
	}

	.map{
		width: 651px !important;
		height: 360px;
		
	}

} 

 








